.question {
    padding-top: 120px;
    h2 {
      font-size: 24px;
      line-height: 32px;
      padding-top: 64px;
    }

    h3 {
      font-size: 18px;
      line-height: 26px;
      padding-top: 52px;
    }
    ol {
      padding: 17px;
      font-family: Roboto, arial, sans-serif;
      font-size: 14px;
      li {
        padding: 0 10px;
      }
    }
    p {
      font-family: Roboto, arial, sans-serif;
      font-size: 14px;
      margin: 10px 0;
      line-height: 24px;
      padding-top: 20px;
      i {
        padding-left: 5px;
      }
      a {
        color: #2962ff;
      }
    }
}
